<!DOCTYPE html>
<html lang="en">
  <body>
    <div
      style="
        font-family: Montserrat, sans-serif;
        color: white;
        background-color: #0b0e11;
      "
    >
      <div style="padding: 40px">
        <div
          style="
            box-sizing: border-box;
            min-width: 320px;
            max-width: 640px;
            padding: 20px 80px;
            margin: 0 auto 0 auto;
            background-color: #242c37;
            box-shadow: 0 1px 2px var(rgba(0, 0, 0, 0.2));
          "
        >
          {{!-- <img
            style="
              padding-top: 30px;
              padding-bottom: 16px;
              display: flex;
              margin: 0 auto;
              width: 100%;
              max-width: 192px;
            "
            src=" "
            alt="Logo"
          /> --}}
          
          <h1 style="text-align: center; font-size: 24px; margin-bottom: 40px">
            New message
          </h1>

          <div
            style="
              padding: 20px;
              margin-top: 2px;
              font-size: 14px;
              background-color: #323d4d;
            "
          >
            <div style="line-height: 1.5"><strong>Full Name</strong></div>
            <div style="line-height: 1.5">{{fullname}}</div>
          </div>
          <div
            style="
              padding: 20px;
              margin-top: 2px;
              font-size: 14px;
              background-color: #323d4d;
            "
          >
            <div style="line-height: 1.5"><strong>Email</strong></div>
            <div style="line-height: 1.5">{{email}}</div>
          </div>
       
          <div
            style="
              padding: 20px;
              margin-top: 2px;
              font-size: 14px;
              background-color: #323d4d;
            "
          >
            <div style="line-height: 1.5"><strong>Message</strong></div>
            <div style="line-height: 1.5">{{message}}</div>
          </div>

          <div style="padding: 28px 0; text-align: center"></div>
        </div>
      </div>
    </div>
  </body>
</html>
