@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
	--font-display: 'Inter', sans-serif;
}

:root {
	view-transition-name: none;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 0s;
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}
